@import url('https://fonts.googleapis.com/css2?family=Alata&family=Pacifico&display=swap');

/* general colours for the styling of the site ---------
#bbdef0 - light blue
#00a6a6 - turquoise
#ffea81 - yellow
#f49f0a - gold orange
#f08700 - deep orange 
*/

html {
  scroll-behavior: smooth;
}

body {
    background-color: #00a6a6;
}

/* general styling for whole site */ 
.logo-font {
    font-family: 'Pacifico', sans-serif;
    color: #00a6a6;
    text-align: center;
    text-decoration: none;
    font-size: 2.5em;
}

.general-text {
    font-family: 'Alata', sans-serif;
    color: rgb(75, 71, 71)
}

hr {
    width: 25px; 
    margin-top: 15px; 
    margin-bottom: 15px;
}

i {
    color: #ffea81;
    border: none;
}

footer {
    background-color: #f3f3f3;
    width: 100%;
    min-height: 35px;
    padding: 10px;
    bottom: 0;
    margin-top: 5px;
}

.navbar {
    z-index: 1;
}

/* --------------------------------------------------------------- imagery on home page*/

.header-container {
    margin: 20px 0;
}

.home-container {
    z-index: -1;
    position: relative;
}

video {
    margin: 20px 0;
    padding: 0;
    z-index: -5;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
}

.jumbotron {
    position: relative;
    width: auto;
    height: 250px;
    opacity: 75%;
    z-index: 1;
}
/* --------------------------------------------------------------- alternative view for media */

@media(min-width: 400px) {
    /*.card {
        display: inline-block;
        width: 25em;
    }
    .card-img-top {
        height: 350px;
        width: 100%;
        padding: 5px;
    }
    .jumbo-heading {
        font-size: 3em;
    }*/
    .logo-style {
        font-family: 'Pacifico', sans-serif;
        color: #00a6a6;
        font-size: 3em;
        text-decoration: none;
        margin-right: 25px;
    }
    .jumbotron {
        margin-bottom: 0px;
    }
    .home-container {
        height: auto;
    }
    video{
        min-width: 100%;
    }
    hr {
        width: 50px; 
        margin-top: 30px; 
        margin-bottom: 30px;
    }
    footer {
        margin-top: 25px;
        min-height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    /*
    .recipe-image {
        position: relative;
        width: 450px;
        height: 400px;
        margin: 25px;
        border-color: #801e01;
        border: 1px;
        border-radius: 15px;*/
    }
}