<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-packages-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Available Packages
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-packages-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'packages' %}" class="dropdown-item">All Packages</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="beach-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beach Holidays
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="party-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Party Holidays
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="party-link">
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="ski-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ski Holidays
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ski-link">
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="culture-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cultural Holidays
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="culture-link">
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="safari-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Safari Holidays
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="safari-link">
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="city-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                City Break Holidays
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="city-link">
            </div>
        </li>


        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>