.profile-info {
    margin-left: 15px;
    margin-right: 5px;
}

.order-history-info {
    margin-left: 15px;
    margin-right: 5px;
}

.order-history {
    max-height: 416px; /* height of profile form and submit button */
    overflow-y: auto; 
}

#profile-update-form .form-control {
    color: rgb(75, 71, 71);
}

#profile-update-form input::placeholder {
    color: #b7cece;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: rgb(75, 71, 71);
}

#id_default_country option:first-child {
    color: #b7cece;
}

.general-text {
    font-family: 'Alata', sans-serif;
    color: rgb(75, 71, 71)
}


@media(min-width: 400px) {
    .profile-info {
        margin-left: 40px;
        margin-right:20px;
    }
    .order-history-info {
        margin-right: 30px;
    }
}